main{
  min-height: 80vh;
}

.logo {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 4px;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.card1:hover {
  transform: translateY(-5px) scale(1.050) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}


.img {
  width: 250px;
  height: 250px;
}

.img2 {
  width: 550px;
  height: 550px;
}

.product-price {
  font-size: 22px;
}

.link {
  text-decoration: none;
}